<div class = "links">
  <% if user_signed_in? %>
 <div class="sign"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
  <%= image_tag("user-logo.png", :alt => "logo", :class => "user") %>
  <div class = "user-email"><%= current_user.name%></div>
  <% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</div>


